* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  border: solid 1mm;
  background:
    /*Body color-Gradient*/
    linear-gradient(to bottom,
      hsla(0, 50%, 0%, 0.1) 0%,
      hsla(0, 0%, 0%, 0.02) 15%,
      hsla(0, 0%, 0%, 0.02) 85%,
      hsla(0, 50%, 0%, 0.1) 95%),
    /*TOP*/
    url("https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/top-image.png")
    no-repeat
    left top,
    /*BOTTOM*/
    url("https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/bottom-image.png")
    no-repeat
    left bottom,
    /*Body Color-Solid*/
    white;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: url("https://raw.githubusercontent.com/mdn/learning-area/master/css/styling-boxes/letterheaded-paper-start/logo.png");
  filter: drop-shadow(1px 2px 5px black);
}
