body{background-color: grey;}

p{font-size: x-large;}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
    font-family: 'Rochester', cursive;
    font-style: italic;
}

div{
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 5px;
}

div#contenedor{
    display: inline-block;
}

div#header{
    text-align: center;
    width: 95%;
    background-color: rgb(255, 255, 163);
    border: 2px solid black;
}

div#content{
    text-align: justify;
    background-color: rgb(255, 230, 107);
    border: 1px solid black;
    float: left;
    width: 65%;
}

div#links{
    font-size: x-large;
    background-color: rgb(255, 230, 107);
    border: 1px solid black;
    float: right;
    width: 10%;
    text-align: center;
}