*{
    box-sizing: border-box;
}

a[class *= "logo-"]{
    width: 100%;
    padding: 4px 8px;
    margin: 32px;

    display: inline-block;

    font-size: 3.5em;
    color: #343434;
    text-decoration: none;
}

a[class *= "logo-"] span{
    color: #44dbbd;
}

a.logo-1{font-family: 'El Messiri', sans-serif;}
a.logo-2{font-family: 'Monoton', cursive;}
a.logo-3{font-family: 'Bad Script', cursive;}
a.logo-4{font-family: 'Bungee Inline', cursive;}
